<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-mug-hot"></i> Drei Bohnen</h5>
                <p>Handgerösteter Kaffee aus Wien.</p>
            </div>
            <div class="col-md-4">
                <h5>Rechtliches</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50 imprint-link" href="sites/imprint.html">Impressum</a></li>
                    <li><a class="text-white-50 terms-link" href="sites/terms.html">AGB</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kontakt</h5>
                <p>info@drei-bohnen.at</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <small>&copy; 2025 Drei Bohnen</small>
        </div>
    </div>
</footer>