<header class="bg-dark text-white sticky-top">
    <div class="container">
        <div class="row align-items-center py-3">
            <div class="col-md-3">
                <a class="text-white text-decoration-none home-link" href="index.html">
                    <h1 class="h3 mb-0"><i class="fas fa-mug-hot"></i> Drei Bohnen</h1>
                    <small>Rösterei & Genuss</small>
                </a>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-white home-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white products-link" href="sites/products.html">Produkte</a></li>
                    <li class="nav-item" id="accountNav" style="display:none;"><a class="nav-link text-white account-link" href="sites/account.html">Mein Konto</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-end">
                <a class="text-white me-3 cart-link" href="sites/cart.html">
                    <i class="fas fa-shopping-cart fa-lg"></i>
                    <span id="cartCount">0</span>
                </a>
                <div id="authArea"></div>
            </div>
        </div>
    </div>
</header>